/* HEADER */
.navbar-img {
  height: 50px;
  width: 50px;
}

#navbarCollapse {
  z-index: 99999;
}

.navbar-brand {
  font-family: "Dancing Script", "Lucida Grande Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  font-size: 22px;
}

.bg-pink {
  background-color: #ff009b;
  border-bottom: 1px solid #a12e79;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.7);
  border-color: rgba(255, 255, 255, 0.5);
  color: rgb(254, 221, 241);
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(254, 221, 241)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav .nav-link {
  font-size: 18px;
  padding-bottom: 15px;
}

.tab {
  padding-left: 10px;
}

.main-title {
  font-size: 54px;
  color: #12090c;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #9b9b9b;
}

.heroes {
  position: absolute;
  top: 155px;
  left: 110px;
  width: 480px;
  z-index: 9999;
}


@media (max-width: 1920px) {
  .main-title {
    font-size: 66px;
  }
}

@media (max-width: 1440px) {
  .main-title {
    font-size: 72px;
  }
  .heroes {
    top: 160px !important;
    left: 175px !important;
    width: 450px !important;
    z-index: 999 !important;
  }
}

@media (max-width: 1439px) {
  .heroes {
    left: 175px !important;
  }
}

@media (max-width: 1430px) {
  .heroes {
    left: 170px !important;
  }
}

@media (max-width: 1420px) {
  .heroes {
    left: 165px !important;
  }
}

@media (max-width: 1400px) {
  .heroes {
    left: 160px !important;
  }
}

@media (max-width: 1390px) {
  .heroes {
    left: 155px !important;
  }
}
@media (max-width: 1380px) {
  .heroes {
    left: 145px !important;
  }
}

@media (max-width: 1370px) {
  .heroes {
    left: 140px !important;
  }
}

@media (max-width: 1360px) {
  .heroes {
    left: 135px !important;
  }
}

@media (max-width: 1350px) {
  .heroes {
    left: 130px !important;
  }
}

@media (max-width: 1340px) {
  .heroes {
    left: 130px !important;
  }
}

@media (max-width: 1330px) {
  .heroes {
    left: 125px !important;
  }
}

@media (max-width: 1320px) {
  .heroes {
    left: 120px !important;
  }
}

@media (max-width: 1310px) {
  .heroes {
    left: 115px !important;
  }
}


@media (max-width: 1300px) {
  .main-title {
    font-size: 64px;
  }
  .heroes {
    top: 160px !important;
    left: 130px !important;
    width: 450px !important;
  }
}

@media (max-width: 1270px) {
  .main-title {
    font-size: 64px;
  }
  .heroes {
    top: 160px !important;
    left: 125px !important;
    width: 450px !important;
  }
}

@media (max-width: 1250px) {
  .heroes {
    top: 160px !important;
    left: 120px !important;
    width: 450px !important;
  }
}

@media (max-width: 1240px) {
  .heroes {
    top: 160px !important;
    left: 115px !important;
    width: 450px !important;
  }
}

@media (max-width: 1230px) {
  .heroes {
    top: 160px !important;
    left: 110px !important;
    width: 450px !important;
  }
}

@media (max-width: 1220px) {
  .heroes {
    top: 160px !important;
    left: 105px !important;
    width: 450px !important;
  }
}

@media (max-width: 1210px) {
  .heroes {
    top: 160px !important;
    left: 100px !important;
    width: 450px !important;
  }
}

@media (max-width: 1200px) {
  .heroes {
    top: 160px !important;
    left: 95px !important;
    width: 450px !important;
  }
}

@media (max-width: 1190px) {
  .main-title {
    margin-left: -50px !important;
    font-size: 58px;
  }
  .heroes {
    top: 150px;
    left: 80px !important;
    width: 450px !important;
    z-index: 999;
  }
}


@media (max-width: 1170px) {
  .main-title {
    margin-left: -30px !important;
  }
}

@media (max-width: 1130px) {
  .main-title {
    margin-left: -15px !important;
  }
}

@media (max-width: 1120px) {
  .main-title {
    margin-left: 0px !important;
  }
}

@media (max-width: 1110px) {
  .main-title {
    margin-left: 10px !important;
  }
  .heroes {
    top: 155px !important;
    left: 70px !important;
    
  }
}

@media (max-width: 1090px) {
  .main-title {
    font-size: 58px;
  }
  .heroes {
    top: 155px !important;
    left: 70px !important;
    width: 430px !important;
  }
}

@media (max-width: 1060px) {
  .main-title {
    font-size: 58px;
  }
  .heroes {
    left: 55px !important;
  }
}

@media (max-width: 1030px) {
  .main-title {
    font-size: 58px;
  }
  .heroes {
    left: 50px !important;
  }
}

@media (max-width: 1030px) {
  .main-title {
    font-size: 58px;
  }
  .heroes {
    left: 50px !important;
  }
}

@media (max-width: 1030px) {
  .heroes {
    left: 45px !important;
  }
}

@media (max-width: 1020px) {
  .heroes {
    left: 40px !important;
  }
}

@media (max-width: 1010px) {
  .heroes {
    left: 35px !important;
  }
}


@media (max-width: 992px) {
  .main-title {
    font-size: 52px;
  }
  .heroes {
    left: 30px !important;
  }
}


@media (max-width: 768px) {
  .main-title {
    font-size: 48px;
  }
  .navbar-img {
    height: 36px;
    width: 36px;
  }

  .navbar-brand {
    font-size: 18px;
  }
}

@media (max-width: 576px) {
  .main-title {
    font-size: 40px;
  }
  .sub-title {
    font-size: 24px;
  }
}


@media (max-width: 768px) {
  .heroes {
    position: absolute;
    top: 145px;
    left: 10px;
    width: 300px;
    z-index: 999;
    -moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
  }
}

