.service-box {
  background: radial-gradient(47.04% 23.93% at 50% 82.14%, #FFF5FB 0%, rgba(166, 218, 255, 0.9) 100%);
  border: 1px solid #C2C0EA;
  box-sizing: border-box;
  border-radius: 10px;
}

.service-icon {
  position: relative;
  top: 2px;
  margin-right: 3px;
}
